################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Argus.TicTracEmailer/bin
/Argus.TicTracEmailer/obj
/.vs/Argus.TicTracEmailer/v15/Server/sqlite3
